.navber{
    justify-content:space-between;
    margin: 25px;
    margin-left: 600px;
    align-self: center;
}

.but{
    padding-left: 70px;
}
.divers{
    padding-left: 55px;
}
.divers2{
    padding-left: 33px;
}