.datecontein{
    text-align: center;
    padding: 30px;
    border-color:white;
     border-style:solid;
    
}
p{   color: rgb(205, 187, 187);
    ;}
h3{
        color: rgb(205, 187, 187);

        
    }